$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

.current-user{
  float: right;
}

.clear{
  clear: both;
}

.correct{
  font-weight: bold;
  color: green;
}

$invalid: red;
.invalid{
  color: $invalid;
}

.question {
  margin-bottom: 2em;

  .description {
    font-weight: bold;
  }
}

.inline-answer{
  width: 5em;
}

.code label {
  font-family: monospace;
}

input.invalid{
  border-color: $invalid;
  color: $invalid;
}
