$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

.float-right{
  float: right;
}

.clear{
  clear: both;
}

.control-label{
  @extend .col-lg-2;
}

.controls{
  @extend .col-lg-3;
  &.offset{
    @extend .col-lg-offset-2;
  }
}

$invalid: red;

.question {
  margin-bottom: 2em;

  .description {
    font-weight: bold;
  }

  label{
    font-weight: normal;

    &.correct{
      font-weight: bold;
      color: green;
    }
  }

  &.invalid, .invalid{
    color: $invalid;
  }

  .inline-answer{
    @extend .form-control;
    width: 5em;
    display: inline;
  }

  .code label {
    font-family: monospace;
  }

  input.invalid{
    border-color: $invalid;
    color: $invalid;
  }
}
