{
  "default": {
    "UA":           "<your google analytics code>",
    "DOMAIN":       "example.com"
  },

  "production": {
    "FIREBASE_URL": "https://your-production.firebaseio.com/"
  },

  "development": {
    "FIREBASE_URL": "https://your-development.firebaseio.com/"
  },

  "test": {
    "FIREBASE_URL": "https://your-test.firebaseio.com/"
  }
}
