<!DOCTYPE html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title>Angular Quiz</title>
<meta content="width=device-width" name="viewport">
<link rel="stylesheet" href="styles/78551066.main.css">
</head>
<body>
<!--[if lt IE 7]>
<p class='chromeframe'>
You are using an outdated browser.
<a href='http://browsehappy.com/'>Upgrade your browser today</a>
or
<a href='http://www.google.com/chromeframe/?redirect=true'>install Google Chrome Frame</a>
to better experience this site.
</p>
<![endif]-->
<!--[if lt IE 9]>
<script src='bower_components/es5-shim/es5-shim.js'></script>
<script src='bower_components/json3/lib/json3.min.js'></script>
<![endif]-->
<div class="app" ng-app="quizApp" ng-controller="AppCtrl" ng-show="true" style="display: none">
<div class="current-user">
{{currentUser.email}}
<a class="logout" data-test="logout" href="#/login" ng-click="logout()" ng-show="currentUser">Log out</a>
</div>
<div class="clear">
<div class="alert alert-error" ng-show="flash.errors.length">
<div class="error" ng-repeat="error in flash.errors">
{{error}}
</div>
</div>
<div class="alert alert-info" ng-show="flash.infos.length">
<div class="info" ng-repeat="info in flash.infos">
{{info}}
</div>
</div>
<div class="alert alert-success" ng-show="flash.successes.length">
<div class="success" ng-repeat="success in flash.successes">
{{success}}
</div>
</div>
</div>
<div class="container" ng-view=""></div>
</div>
<script src="//cdn.firebase.com/v0/firebase.js"></script>
<script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
<script src="scripts/547f8ea6.modules.js"></script>
<script src="scripts/87a6bd19.scripts.js"></script>
</body>
</html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-43261744-1', 'tomazy.com');
  ga('send', 'pageview');
</script>