<form class="form-horizontal" name="form" novalidate="">
<fieldset>
<legend>Log in</legend>
<div class="control-group">
<label class="control-label" for="email">Email:</label>
<div class="controls">
<input data-test="email" ng-model="email" placeholder="Email" required="" type="email">
</div>
</div>
<div class="control-group">
<label class="control-label" for="password">Password:</label>
<div class="controls">
<input data-test="password" ng-model="password" placeholder="Password" required="" type="password">
</div>
</div>
<div class="control-group">
<div class="controls">
<button class="btn" data-test="login" ng-click="login()" ng-disabled="processing" type="submit">Log in</button>
</div>
</div>
<div class="control-group">
<div class="controls">
<a data-test="signup" href="#/signup">Sign up</a>
</div>
</div>
</fieldset>
</form>