<h1>Welcome to the Quiz!</h1>
<button class="btn" ng-click="showCorrectAnswers()" ng-show="response">Show Answers</button>
<div class="status" ng-show="status">{{status}}</div>
<form name="quiz">
<ol class="questions">
<li ng-repeat="question in questions">
<fieldset>
<legend ng-class="{invalid: question.invalid}">{{question.desc}}</legend>
<pre ng-show="question.example">{{question.example}}</pre>
<div class="instruction" ng-show="question.instruction">
{{question.instruction}}
</div>
<ol type="a">
<li ng-repeat="option in question.options">
<label class="checkbox" ng-class="{correct: option.correct, invalid: option.invalid}">
<input name="{{question.name}}" ng-disabled="disabled" ng-model="option.checked" type="checkbox" value="{{option.value}}">
{{option.desc}}
</label>
</li>
</ol>
</fieldset>
</li>
</ol>
<button class="btn btn-large btn-primary" data-test="submit" ng-click="submitResponse()" ng-disabled="processing" ng-show="questions &amp;&amp; !response" type="submit">Submit</button>
</form>