!!!
%html.no-js
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title Angular Quiz
    %meta(name="viewport" content="width=device-width")

    /build:css({.tmp,app}) styles/main.css
    %link(rel="stylesheet" href="styles/main.css")
    /endbuild

  %body
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser.
        %a(href="http://browsehappy.com/") Upgrade your browser today
        or
        %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        to better experience this site.

    /[if lt IE 9]
      %script(src="bower_components/es5-shim/es5-shim.js")
      %script(src="bower_components/json3/lib/json3.min.js")

    .app(style="display: none" ng-show="true" ng-app="quizApp" ng-controller="AppCtrl")

      .current-user
        {{currentUser.email}}
        %a.logout(ng-click="logout()" data-test="logout" href="#/login" ng-show="currentUser") Log out

      .clear
        .alert.alert-error(ng-repeat="error in flash.errors") {{error}}
        .alert.alert-info(ng-repeat="info in flash.infos") {{info}}
        .alert.alert-success(ng-repeat="success in flash.successes") {{success}}

      .page.container(ng-view)


    %script(src="//cdn.firebase.com/v0/firebase.js")
    %script(src='//cdn.firebase.com/v0/firebase-simple-login.js')

    /build:js(app) scripts/modules.js
    %script(src="bower_components/angular-unstable/angular.js")
    %script(src="bower_components/angular-firebase/ng-firebase.js")
    /endbuild

    /build:js({.tmp,app}) scripts/scripts.js
    %script(src="scripts/app.js")
    %script(src="scripts/modules/firebase_simple_login.js")
    %script(src="scripts/services/safeApply.js")
    %script(src="scripts/services/flash.js")
    %script(src="scripts/services/db.js")
    %script(src="scripts/services/quiz.js")
    %script(src="scripts/services/credentialsValidator.js")
    %script(src="scripts/services/firebaseAuth.js")
    %script(src="scripts/services/auth.js")
    %script(src="scripts/directives/quiz.js")
    %script(src="scripts/controllers/app.js")
    %script(src="scripts/controllers/signup.js")
    %script(src="scripts/controllers/login.js")
    %script(src="scripts/controllers/quiz.js")
    /endbuild

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '@@UA', '@@DOMAIN');
  ga('send', 'pageview');
