%form.form-horizontal(novalidate name="form")
  %fieldset
    .form-group
      .controls.offset
        %button.btn.btn-default(type="submit" data-test="login" ng-click="ctrl.start()"
          ng-disabled="ctrl.processing") Start
