%form.form-horizontal(novalidate=true name="form")
  %fieldset
    %legend Log in
    .control-group
      %label.control-label(for="email") Email:
      .controls
        %input(type="email" data-test="email" ng-model="email" placeholder="Email" required=true)
    .control-group
      %label.control-label(for="password") Password:
      .controls
        %input(type="password" data-test="password" ng-model="password" placeholder="Password" required=true)
    .control-group
      .controls
        %button.btn(type="submit" data-test="login" ng-click="login()" ng-disabled="processing") Log in
    .control-group
      .controls
        %a(href="#/signup" data-test='signup') Sign up
