%h1 Welcome to the Quiz!
.alert.alert-error(ng-show="error") {{error}}
.alert.alert-info(ng-show="status") {{status}}
.alert.alert-success(ng-show="success") {{success}}
%form(name="quiz")
  %ol.questions
    %li(ng-repeat="question in questions")
      %fieldset
        %legend {{question.desc}}
        %pre(ng-show="question.example")
          {{question.example}}
        .instruction(ng-show="question.instruction")
          {{question.instruction}}
        %ol(type="a")
          %li(ng-repeat="option in question.options")
            %label.checkbox
              %input(type="checkbox" name="{{question.name}}" value="{{option.value}}" ng-model="option.checked" ng-disabled="disabled")
              {{option.desc}}

  %button.btn.btn-large.btn-primary(type="submit" data-test="submit" ng-click="submitResponse()" ng-show="questions && !response" ng-disabled="processing") Submit
