-# encoding: UTF-8
%h1 Welcome to the Quiz!

%button.btn.btn-default(ng-click="showCorrectAnswers()" ng-show="quiz.disabled")
  Show Answers

.status(ng-show="status") {{status}}

%quiz(ng-show="quiz.ready")
  %ol(type="1")
    %li(ng-repeat="(question,questionObject) in quiz.questions")
      %question(name="{{question}}")
        .description
          {{questionObject.question}}

        %ol(type="a")
          %list_element_choice(ng-repeat="(key,value) in questionObject.options" value="{{value}}" questionName="{{question}}")

%button.btn.btn-large.btn-primary(type="submit"
  ng-click="submitResponse()"
  ng-show="quiz.ready && !quiz.disabled"
  ng-disabled="processing") Submit
